body {
  width: 375px;
  height: 3851px;
}

header .col {
  padding-right: 0px;
  padding-left: 0px;
}

main section:nth-child(1) {
  background-color: hsl(256, 26%, 20%);
  color: white;
}

main div{
  background-color: hsl(256, 26%, 20%);
  color: white; 
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}